extends layout 
block content
    nav
        ul
            li
                a(href="/users/logout") Log Out
            li
                p Signed in as #{currentUser.username}
    a(href="/users/create-message") Create Message
    if message_list.length > 0
        ul(class="message-list") 
            each message in message_list 
                    li(class="message")
                        h2= message.title
                        p= message.text
                        if currentUser && currentUser.membershipStatus == true
                            p Posted by: #{message.author.username}
                        p= message.added
                            if currentUser && currentUser.isAdmin
                                form(action=`/users/messages/${message._id}/delete` method="POST")
                                    button Delete
                        
    else 
        h2 No messages yet.